.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 24px;
  justify-items: center;
}

.favorite {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: red;
  margin-bottom: 24px;
}
